.DS_Store
fonts/Fraunces-Italic\[SOFT,WONK,opsz,wght\].ttf
fonts/Fraunces\[SOFT,WONK,opsz,wght\].ttf
fonts/InputMonoCompressed-Bold.ttf
fonts/InputMonoCompressed-BoldItalic.ttf
fonts/InputMonoCompressed-Italic.ttf
fonts/InputMonoCompressed-Regular.ttf
