<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>933</integer>
    <key>capHeight</key>
    <integer>700</integer>
    <key>copyright</key>
    <string>Copyright 2020 The Open Gate Naskh Project Authors (https://github.com/eliheuer/open-gate-naskh)</string>
    <key>descender</key>
    <integer>-500</integer>
    <key>familyName</key>
    <string>Open Gate Naskh</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>100</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-324</integer>
        <key>y</key>
        <integer>-254</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-172</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-905</integer>
        <key>y</key>
        <integer>700</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-675</integer>
        <key>y</key>
        <integer>325</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-699</integer>
        <key>y</key>
        <integer>473</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>3688</integer>
        <key>y</key>
        <integer>-300</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>619</integer>
        <key>y</key>
        <integer>-118</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>110</integer>
        <key>y</key>
        <integer>421</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>887</integer>
        <key>y</key>
        <integer>211</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>341</integer>
        <key>y</key>
        <integer>-450</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>29</integer>
        <key>y</key>
        <integer>640</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2020/06/28 04:25:57</string>
    <key>openTypeNameDesigner</key>
    <string>Eli Heuer</string>
    <key>openTypeNameDesignerURL</key>
    <string>elih.blog</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>GTL</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://gtl.world</string>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2VendorID</key>
    <string>GTL</string>
    <key>postscriptFontName</key>
    <string>OpenGateNaskh-Regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>1024</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>420</integer>
  </dict>
</plist>
