<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>alef-ar.fina</key>
    <dict>
      <key>teh-ar.init</key>
      <integer>60</integer>
    </dict>
    <key>alefHamzabelow-ar</key>
    <dict>
      <key>thal-ar</key>
      <integer>-20</integer>
      <key>yeh-ar.init</key>
      <integer>60</integer>
      <key>yeh_alef-ar.liga</key>
      <integer>20</integer>
    </dict>
    <key>eight-ar</key>
    <dict>
      <key>nine-ar</key>
      <integer>-150</integer>
    </dict>
    <key>five-ar</key>
    <dict>
      <key>six-ar</key>
      <integer>-60</integer>
    </dict>
    <key>four-ar</key>
    <dict>
      <key>five-ar</key>
      <integer>-20</integer>
    </dict>
    <key>reh-ar</key>
    <dict>
      <key>beh-ar</key>
      <integer>-200</integer>
      <key>behDotless-ar</key>
      <integer>-200</integer>
      <key>heh-ar</key>
      <integer>-180</integer>
      <key>kaf-ar</key>
      <integer>-190</integer>
      <key>tehMarbuta-ar</key>
      <integer>-160</integer>
    </dict>
    <key>reh-ar.fina</key>
    <dict>
      <key>alef-ar</key>
      <integer>-200</integer>
      <key>feh-ar.init</key>
      <integer>-100</integer>
      <key>fehDotless-ar.init</key>
      <integer>-200</integer>
      <key>hah-ar.init</key>
      <integer>-280</integer>
      <key>heh-ar</key>
      <integer>-170</integer>
      <key>jeem-ar</key>
      <integer>-70</integer>
      <key>yeh-ar</key>
      <integer>-100</integer>
    </dict>
    <key>seven-ar</key>
    <dict>
      <key>eight-ar</key>
      <integer>-120</integer>
    </dict>
    <key>six-ar</key>
    <dict>
      <key>seven-ar</key>
      <integer>-20</integer>
    </dict>
    <key>waw-ar</key>
    <dict>
      <key>alefHamzabelow-ar</key>
      <integer>30</integer>
      <key>lam_alef-ar</key>
      <integer>-120</integer>
    </dict>
    <key>waw-ar.fina</key>
    <dict>
      <key>meem-ar</key>
      <integer>0</integer>
      <key>reh-ar</key>
      <integer>-20</integer>
      <key>teh-ar.init</key>
      <integer>-100</integer>
    </dict>
    <key>yeh-ar.fina</key>
    <dict>
      <key>hamza-ar</key>
      <integer>-30</integer>
    </dict>
    <key>yeh_alef-ar.liga</key>
    <dict>
      <key>kaf-ar</key>
      <integer>20</integer>
    </dict>
    <key>zain-ar.fina</key>
    <dict>
      <key>yeh-ar</key>
      <integer>-70</integer>
    </dict>
  </dict>
</plist>
