<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1346</string>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.disablesLastChange</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.font.customParameters</key>
    <array>
      <dict>
        <key>name</key>
        <string>Write lastChange</string>
        <key>value</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>Use Line Breaks</string>
        <key>value</key>
        <integer>1</integer>
      </dict>
    </array>
    <key>com.schriftgestaltung.font.userData</key>
    <dict>
      <key>GSDimensionPlugin.Dimensions</key>
      <dict>
        <key>98B9451C-6456-42E9-9BE3-FFE7D6D9360C</key>
        <dict>
          <key>arAlef</key>
          <string>٨٠</string>
          <key>arBar</key>
          <string>١٠٠</string>
        </dict>
      </dict>
    </dict>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>98B9451C-6456-42E9-9BE3-FFE7D6D9360C</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>2</integer>
    <key>com.schriftgestaltung.useGlyphOrder</key>
    <false/>
    <key>com.schriftgestaltung.useNiceNames</key>
    <true/>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>hamza-ar</string>
      <string>alef-ar</string>
      <string>alef-ar.fina</string>
      <string>alefHamzaabove-ar</string>
      <string>alefHamzaabove-ar.fina</string>
      <string>alefHamzabelow-ar</string>
      <string>alefHamzabelow-ar.fina</string>
      <string>alefMadda-ar</string>
      <string>alefMadda-ar.fina</string>
      <string>alefWasla-ar</string>
      <string>alefWasla-ar.fina</string>
      <string>behDotless-ar</string>
      <string>behDotless-ar.fina</string>
      <string>behDotless-ar.medi</string>
      <string>behDotless-ar.init</string>
      <string>beh-ar</string>
      <string>beh-ar.fina</string>
      <string>beh-ar.medi</string>
      <string>beh-ar.init</string>
      <string>peh-ar</string>
      <string>peh-ar.fina</string>
      <string>peh-ar.medi</string>
      <string>peh-ar.init</string>
      <string>teh-ar</string>
      <string>teh-ar.fina</string>
      <string>teh-ar.medi</string>
      <string>teh-ar.init</string>
      <string>theh-ar</string>
      <string>theh-ar.fina</string>
      <string>theh-ar.medi</string>
      <string>theh-ar.init</string>
      <string>jeem-ar</string>
      <string>jeem-ar.fina</string>
      <string>jeem-ar.medi</string>
      <string>jeem-ar.init</string>
      <string>tcheh-ar</string>
      <string>tcheh-ar.fina</string>
      <string>tcheh-ar.medi</string>
      <string>tcheh-ar.init</string>
      <string>hah-ar</string>
      <string>hah-ar.fina</string>
      <string>hah-ar.medi</string>
      <string>hah-ar.init</string>
      <string>khah-ar</string>
      <string>khah-ar.fina</string>
      <string>khah-ar.medi</string>
      <string>khah-ar.init</string>
      <string>dal-ar</string>
      <string>dal-ar.fina</string>
      <string>thal-ar</string>
      <string>thal-ar.fina</string>
      <string>reh-ar</string>
      <string>reh-ar.fina</string>
      <string>zain-ar</string>
      <string>zain-ar.fina</string>
      <string>jeh-ar</string>
      <string>jeh-ar.fina</string>
      <string>seen-ar</string>
      <string>seen-ar.fina</string>
      <string>seen-ar.medi</string>
      <string>seen-ar.init</string>
      <string>sheen-ar</string>
      <string>sheen-ar.fina</string>
      <string>sheen-ar.medi</string>
      <string>sheen-ar.init</string>
      <string>sad-ar</string>
      <string>sad-ar.fina</string>
      <string>sad-ar.medi</string>
      <string>sad-ar.init</string>
      <string>dad-ar</string>
      <string>dad-ar.fina</string>
      <string>dad-ar.medi</string>
      <string>dad-ar.init</string>
      <string>tah-ar</string>
      <string>tah-ar.fina</string>
      <string>tah-ar.medi</string>
      <string>tah-ar.init</string>
      <string>zah-ar</string>
      <string>zah-ar.fina</string>
      <string>zah-ar.medi</string>
      <string>zah-ar.init</string>
      <string>ain-ar</string>
      <string>ain-ar.fina</string>
      <string>ain-ar.medi</string>
      <string>ain-ar.init</string>
      <string>ghain-ar</string>
      <string>ghain-ar.fina</string>
      <string>ghain-ar.medi</string>
      <string>ghain-ar.init</string>
      <string>feh-ar</string>
      <string>feh-ar.fina</string>
      <string>feh-ar.medi</string>
      <string>feh-ar.init</string>
      <string>veh-ar</string>
      <string>veh-ar.fina</string>
      <string>veh-ar.medi</string>
      <string>veh-ar.init</string>
      <string>fehDotless-ar</string>
      <string>fehDotless-ar.fina</string>
      <string>fehDotless-ar.medi</string>
      <string>fehDotless-ar.init</string>
      <string>qafDotless-ar</string>
      <string>qafDotless-ar.fina</string>
      <string>qaf-ar</string>
      <string>qaf-ar.fina</string>
      <string>qaf-ar.medi</string>
      <string>qaf-ar.init</string>
      <string>kaf-ar</string>
      <string>kaf-ar.fina</string>
      <string>kaf-ar.medi</string>
      <string>kaf-ar.medi.cringe</string>
      <string>kaf-ar.init</string>
      <string>keheh-ar</string>
      <string>keheh-ar.fina</string>
      <string>keheh-ar.medi</string>
      <string>keheh-ar.init</string>
      <string>gaf-ar</string>
      <string>gaf-ar.fina</string>
      <string>gaf-ar.medi</string>
      <string>gaf-ar.init</string>
      <string>lam-ar</string>
      <string>lam-ar.fina</string>
      <string>lam-ar.medi</string>
      <string>lam-ar.init</string>
      <string>meem-ar</string>
      <string>meem-ar.fina</string>
      <string>meem-ar.medi</string>
      <string>meem-ar.init</string>
      <string>noon-ar</string>
      <string>noon-ar.fina</string>
      <string>noon-ar.medi</string>
      <string>noon-ar.init</string>
      <string>noonghunna-ar</string>
      <string>noonghunna-ar.fina</string>
      <string>heh-ar</string>
      <string>heh-ar.fina</string>
      <string>heh-ar.medi</string>
      <string>heh-ar.init</string>
      <string>tehMarbuta-ar</string>
      <string>tehMarbuta-ar.fina</string>
      <string>waw-ar</string>
      <string>waw-ar.001</string>
      <string>waw-ar.fina</string>
      <string>wawHamzaabove-ar</string>
      <string>wawHamzaabove-ar.fina</string>
      <string>alefMaksura-ar</string>
      <string>alefMaksura-ar.fina</string>
      <string>yeh-ar</string>
      <string>yeh-ar.fina</string>
      <string>yeh-ar.medi</string>
      <string>yeh-ar.init</string>
      <string>yehHamzaabove-ar</string>
      <string>yehHamzaabove-ar.fina</string>
      <string>yehHamzaabove-ar.medi</string>
      <string>yehHamzaabove-ar.init</string>
      <string>yeh-farsi</string>
      <string>yeh-farsi.fina</string>
      <string>yeh-farsi.medi</string>
      <string>yeh-farsi.init</string>
      <string>kashida-ar</string>
      <string>lam_alef-ar</string>
      <string>lam_alef-ar.fina</string>
      <string>lam_alefHamzaabove-ar</string>
      <string>lam_alefHamzaabove-ar.fina</string>
      <string>lam_alefHamzabelow-ar</string>
      <string>lam_alefHamzabelow-ar.fina</string>
      <string>lam_alefMadda-ar</string>
      <string>lam_alefMadda-ar.fina</string>
      <string>lam_alefWasla-ar</string>
      <string>lam_alefWasla-ar.fina</string>
      <string>lam_lam-ar.init.liga</string>
      <string>lam_lam_heh-ar.liga</string>
      <string>yeh_alef-ar.liga</string>
      <string>allah-ar</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>decimalseparator-ar</string>
      <string>thousandseparator-ar</string>
      <string>zero-ar</string>
      <string>one-ar</string>
      <string>two-ar</string>
      <string>three-ar</string>
      <string>four-ar</string>
      <string>five-ar</string>
      <string>six-ar</string>
      <string>seven-ar</string>
      <string>eight-ar</string>
      <string>nine-ar</string>
      <string>zero-persian</string>
      <string>one-persian</string>
      <string>two-persian</string>
      <string>three-persian</string>
      <string>four-persian</string>
      <string>five-persian</string>
      <string>six-persian</string>
      <string>seven-persian</string>
      <string>eight-persian</string>
      <string>nine-persian</string>
      <string>period</string>
      <string>comma</string>
      <string>hyphen</string>
      <string>comma-ar</string>
      <string>semicolon-ar</string>
      <string>question-ar</string>
      <string>asterisk-ar</string>
      <string>parenleft-ar</string>
      <string>parenright-ar</string>
      <string>space</string>
      <string>percent-ar</string>
      <string>dotabove-ar</string>
      <string>dotbelow-ar</string>
      <string>dotcenter-ar</string>
      <string>twodotsverticalabove-ar</string>
      <string>twodotsverticalbelow-ar</string>
      <string>twodotshorizontalabove-ar</string>
      <string>twodotshorizontalbelow-ar</string>
      <string>threedotsdownabove-ar</string>
      <string>threedotsdownbelow-ar</string>
      <string>threedotsupabove-ar</string>
      <string>threedotsupbelow-ar</string>
      <string>wasla-ar</string>
      <string>miniKeheh-ar</string>
      <string>gafsarkashabove-ar</string>
      <string>gafsarkashcenter-ar</string>
      <string>doublestroke-ar</string>
      <string>alefabove-ar</string>
      <string>alefbelow-ar</string>
      <string>hamzaabove-ar</string>
      <string>hamzabelow-ar</string>
      <string>hamzaaboveDamma-ar</string>
      <string>hamzaaboveDammatan-ar</string>
      <string>hamzaaboveFatha-ar</string>
      <string>hamzaaboveFathatan-ar</string>
      <string>hamzaaboveSukun-ar</string>
      <string>hamzabelowKasra-ar</string>
      <string>hamzabelowKasratan-ar</string>
      <string>fathatan-ar</string>
      <string>dammatan-ar</string>
      <string>kasratan-ar</string>
      <string>fatha-ar</string>
      <string>damma-ar</string>
      <string>kasra-ar</string>
      <string>shadda-ar</string>
      <string>sukun-ar</string>
      <string>madda-ar</string>
      <string>shaddaAlefabove-ar</string>
      <string>shaddaDamma-ar</string>
      <string>shaddaDammatan-ar</string>
      <string>shaddaFatha-ar</string>
      <string>shaddaFathatan-ar</string>
      <string>shaddaKasra-ar</string>
      <string>shaddaKasratan-ar</string>
      <string>alefHamzabelow-ari</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>ain-ar</key>
      <string>uni0639</string>
      <key>ain-ar.fina</key>
      <string>uni0639.fina</string>
      <key>ain-ar.init</key>
      <string>uni0639.init</string>
      <key>ain-ar.medi</key>
      <string>uni0639.medi</string>
      <key>alef-ar</key>
      <string>uni0627</string>
      <key>alef-ar.fina</key>
      <string>uni0627.fina</string>
      <key>alefHamzaabove-ar</key>
      <string>uni0623</string>
      <key>alefHamzaabove-ar.fina</key>
      <string>uni0623.fina</string>
      <key>alefHamzabelow-ar</key>
      <string>uni0625</string>
      <key>alefHamzabelow-ar.fina</key>
      <string>uni0625.fina</string>
      <key>alefHamzabelow-ari</key>
      <string>alefHamzabelowari</string>
      <key>alefMadda-ar</key>
      <string>uni0622</string>
      <key>alefMadda-ar.fina</key>
      <string>uni0622.fina</string>
      <key>alefMaksura-ar</key>
      <string>uni0649</string>
      <key>alefMaksura-ar.fina</key>
      <string>uni0649.fina</string>
      <key>alefWasla-ar</key>
      <string>uni0671</string>
      <key>alefWasla-ar.fina</key>
      <string>uni0671.fina</string>
      <key>alefabove-ar</key>
      <string>uni0670</string>
      <key>alefbelow-ar</key>
      <string>uni0656</string>
      <key>allah-ar</key>
      <string>uniFDF2</string>
      <key>asterisk-ar</key>
      <string>uni066D</string>
      <key>beh-ar</key>
      <string>uni0628</string>
      <key>beh-ar.fina</key>
      <string>uni0628.fina</string>
      <key>beh-ar.init</key>
      <string>uni0628.init</string>
      <key>beh-ar.medi</key>
      <string>uni0628.medi</string>
      <key>behDotless-ar</key>
      <string>uni066E</string>
      <key>behDotless-ar.fina</key>
      <string>uni066E.fina</string>
      <key>behDotless-ar.init</key>
      <string>uni066E.init</string>
      <key>behDotless-ar.medi</key>
      <string>uni066E.medi</string>
      <key>comma-ar</key>
      <string>uni060C</string>
      <key>dad-ar</key>
      <string>uni0636</string>
      <key>dad-ar.fina</key>
      <string>uni0636.fina</string>
      <key>dad-ar.init</key>
      <string>uni0636.init</string>
      <key>dad-ar.medi</key>
      <string>uni0636.medi</string>
      <key>dal-ar</key>
      <string>uni062F</string>
      <key>dal-ar.fina</key>
      <string>uni062F.fina</string>
      <key>damma-ar</key>
      <string>uni064F</string>
      <key>dammatan-ar</key>
      <string>uni064C</string>
      <key>decimalseparator-ar</key>
      <string>uni066B</string>
      <key>dotabove-ar</key>
      <string>dotabovear</string>
      <key>dotbelow-ar</key>
      <string>dotbelowar</string>
      <key>dotcenter-ar</key>
      <string>dotcenterar</string>
      <key>doublestroke-ar</key>
      <string>doublestrokear</string>
      <key>eight-ar</key>
      <string>uni0668</string>
      <key>eight-persian</key>
      <string>uni06F8</string>
      <key>fatha-ar</key>
      <string>uni064E</string>
      <key>fathatan-ar</key>
      <string>uni064B</string>
      <key>feh-ar</key>
      <string>uni0641</string>
      <key>feh-ar.fina</key>
      <string>uni0641.fina</string>
      <key>feh-ar.init</key>
      <string>uni0641.init</string>
      <key>feh-ar.medi</key>
      <string>uni0641.medi</string>
      <key>fehDotless-ar</key>
      <string>uni06A1</string>
      <key>fehDotless-ar.fina</key>
      <string>uni06A1.fina</string>
      <key>fehDotless-ar.init</key>
      <string>uni06A1.init</string>
      <key>fehDotless-ar.medi</key>
      <string>uni06A1.medi</string>
      <key>five-ar</key>
      <string>uni0665</string>
      <key>five-persian</key>
      <string>uni06F5</string>
      <key>four-ar</key>
      <string>uni0664</string>
      <key>four-persian</key>
      <string>uni06F4</string>
      <key>gaf-ar</key>
      <string>uni06AF</string>
      <key>gaf-ar.fina</key>
      <string>uni06AF.fina</string>
      <key>gaf-ar.init</key>
      <string>uni06AF.init</string>
      <key>gaf-ar.medi</key>
      <string>uni06AF.medi</string>
      <key>gafsarkashabove-ar</key>
      <string>gafsarkashabovear</string>
      <key>gafsarkashcenter-ar</key>
      <string>gafsarkashcenterar</string>
      <key>ghain-ar</key>
      <string>uni063A</string>
      <key>ghain-ar.fina</key>
      <string>uni063A.fina</string>
      <key>ghain-ar.init</key>
      <string>uni063A.init</string>
      <key>ghain-ar.medi</key>
      <string>uni063A.medi</string>
      <key>hah-ar</key>
      <string>uni062D</string>
      <key>hah-ar.fina</key>
      <string>uni062D.fina</string>
      <key>hah-ar.init</key>
      <string>uni062D.init</string>
      <key>hah-ar.medi</key>
      <string>uni062D.medi</string>
      <key>hamza-ar</key>
      <string>uni0621</string>
      <key>hamzaabove-ar</key>
      <string>uni0654</string>
      <key>hamzaaboveDamma-ar</key>
      <string>uni0654064F</string>
      <key>hamzaaboveDammatan-ar</key>
      <string>uni0654064C</string>
      <key>hamzaaboveFatha-ar</key>
      <string>uni0654064E</string>
      <key>hamzaaboveFathatan-ar</key>
      <string>uni0654064B</string>
      <key>hamzaaboveSukun-ar</key>
      <string>uni06540652</string>
      <key>hamzabelow-ar</key>
      <string>uni0655</string>
      <key>hamzabelowKasra-ar</key>
      <string>uni06550650</string>
      <key>hamzabelowKasratan-ar</key>
      <string>uni0655064D</string>
      <key>heh-ar</key>
      <string>uni0647</string>
      <key>heh-ar.fina</key>
      <string>uni0647.fina</string>
      <key>heh-ar.init</key>
      <string>uni0647.init</string>
      <key>heh-ar.medi</key>
      <string>uni0647.medi</string>
      <key>jeem-ar</key>
      <string>uni062C</string>
      <key>jeem-ar.fina</key>
      <string>uni062C.fina</string>
      <key>jeem-ar.init</key>
      <string>uni062C.init</string>
      <key>jeem-ar.medi</key>
      <string>uni062C.medi</string>
      <key>jeh-ar</key>
      <string>uni0698</string>
      <key>jeh-ar.fina</key>
      <string>uni0698.fina</string>
      <key>kaf-ar</key>
      <string>uni0643</string>
      <key>kaf-ar.fina</key>
      <string>uni0643.fina</string>
      <key>kaf-ar.init</key>
      <string>uni0643.init</string>
      <key>kaf-ar.medi</key>
      <string>uni0643.medi</string>
      <key>kaf-ar.medi.cringe</key>
      <string>uni0643.medi.cringe</string>
      <key>kashida-ar</key>
      <string>uni0640</string>
      <key>kasra-ar</key>
      <string>uni0650</string>
      <key>kasratan-ar</key>
      <string>uni064D</string>
      <key>keheh-ar</key>
      <string>uni06A9</string>
      <key>keheh-ar.fina</key>
      <string>uni06A9.fina</string>
      <key>keheh-ar.init</key>
      <string>uni06A9.init</string>
      <key>keheh-ar.medi</key>
      <string>uni06A9.medi</string>
      <key>khah-ar</key>
      <string>uni062E</string>
      <key>khah-ar.fina</key>
      <string>uni062E.fina</string>
      <key>khah-ar.init</key>
      <string>uni062E.init</string>
      <key>khah-ar.medi</key>
      <string>uni062E.medi</string>
      <key>lam-ar</key>
      <string>uni0644</string>
      <key>lam-ar.fina</key>
      <string>uni0644.fina</string>
      <key>lam-ar.init</key>
      <string>uni0644.init</string>
      <key>lam-ar.medi</key>
      <string>uni0644.medi</string>
      <key>lam_alef-ar</key>
      <string>uni06440627</string>
      <key>lam_alef-ar.fina</key>
      <string>uni06440627.fina</string>
      <key>lam_alefHamzaabove-ar</key>
      <string>uni06440623</string>
      <key>lam_alefHamzaabove-ar.fina</key>
      <string>uni06440623.fina</string>
      <key>lam_alefHamzabelow-ar</key>
      <string>uni06440625</string>
      <key>lam_alefHamzabelow-ar.fina</key>
      <string>uni06440625.fina</string>
      <key>lam_alefMadda-ar</key>
      <string>uni06440622</string>
      <key>lam_alefMadda-ar.fina</key>
      <string>uni06440622.fina</string>
      <key>lam_alefWasla-ar</key>
      <string>uni06440671</string>
      <key>lam_alefWasla-ar.fina</key>
      <string>uni06440671.fina</string>
      <key>lam_lam-ar.init.liga</key>
      <string>uni06440644.init.liga</string>
      <key>lam_lam_heh-ar.liga</key>
      <string>uni064406440647.liga</string>
      <key>madda-ar</key>
      <string>uni0653</string>
      <key>meem-ar</key>
      <string>uni0645</string>
      <key>meem-ar.fina</key>
      <string>uni0645.fina</string>
      <key>meem-ar.init</key>
      <string>uni0645.init</string>
      <key>meem-ar.medi</key>
      <string>uni0645.medi</string>
      <key>miniKeheh-ar</key>
      <string>miniKehehar</string>
      <key>nine-ar</key>
      <string>uni0669</string>
      <key>nine-persian</key>
      <string>uni06F9</string>
      <key>noon-ar</key>
      <string>uni0646</string>
      <key>noon-ar.fina</key>
      <string>uni0646.fina</string>
      <key>noon-ar.init</key>
      <string>uni0646.init</string>
      <key>noon-ar.medi</key>
      <string>uni0646.medi</string>
      <key>noonghunna-ar</key>
      <string>uni06BA</string>
      <key>noonghunna-ar.fina</key>
      <string>uni06BA.fina</string>
      <key>one-ar</key>
      <string>uni0661</string>
      <key>one-persian</key>
      <string>uni06F1</string>
      <key>parenleft-ar</key>
      <string>uniFD3E</string>
      <key>parenright-ar</key>
      <string>uniFD3F</string>
      <key>peh-ar</key>
      <string>uni067E</string>
      <key>peh-ar.fina</key>
      <string>uni067E.fina</string>
      <key>peh-ar.init</key>
      <string>uni067E.init</string>
      <key>peh-ar.medi</key>
      <string>uni067E.medi</string>
      <key>percent-ar</key>
      <string>uni066A</string>
      <key>qaf-ar</key>
      <string>uni0642</string>
      <key>qaf-ar.fina</key>
      <string>uni0642.fina</string>
      <key>qaf-ar.init</key>
      <string>uni0642.init</string>
      <key>qaf-ar.medi</key>
      <string>uni0642.medi</string>
      <key>qafDotless-ar</key>
      <string>uni066F</string>
      <key>qafDotless-ar.fina</key>
      <string>uni066F.fina</string>
      <key>question-ar</key>
      <string>uni061F</string>
      <key>reh-ar</key>
      <string>uni0631</string>
      <key>reh-ar.fina</key>
      <string>uni0631.fina</string>
      <key>sad-ar</key>
      <string>uni0635</string>
      <key>sad-ar.fina</key>
      <string>uni0635.fina</string>
      <key>sad-ar.init</key>
      <string>uni0635.init</string>
      <key>sad-ar.medi</key>
      <string>uni0635.medi</string>
      <key>seen-ar</key>
      <string>uni0633</string>
      <key>seen-ar.fina</key>
      <string>uni0633.fina</string>
      <key>seen-ar.init</key>
      <string>uni0633.init</string>
      <key>seen-ar.medi</key>
      <string>uni0633.medi</string>
      <key>semicolon-ar</key>
      <string>uni061B</string>
      <key>seven-ar</key>
      <string>uni0667</string>
      <key>seven-persian</key>
      <string>uni06F7</string>
      <key>shadda-ar</key>
      <string>uni0651</string>
      <key>shaddaAlefabove-ar</key>
      <string>uni06510670</string>
      <key>shaddaDamma-ar</key>
      <string>uni0651064F</string>
      <key>shaddaDammatan-ar</key>
      <string>uni0651064C</string>
      <key>shaddaFatha-ar</key>
      <string>uni0651064E</string>
      <key>shaddaFathatan-ar</key>
      <string>uni0651064B</string>
      <key>shaddaKasra-ar</key>
      <string>uni06510650</string>
      <key>shaddaKasratan-ar</key>
      <string>uni0651064D</string>
      <key>sheen-ar</key>
      <string>uni0634</string>
      <key>sheen-ar.fina</key>
      <string>uni0634.fina</string>
      <key>sheen-ar.init</key>
      <string>uni0634.init</string>
      <key>sheen-ar.medi</key>
      <string>uni0634.medi</string>
      <key>six-ar</key>
      <string>uni0666</string>
      <key>six-persian</key>
      <string>uni06F6</string>
      <key>sukun-ar</key>
      <string>uni0652</string>
      <key>tah-ar</key>
      <string>uni0637</string>
      <key>tah-ar.fina</key>
      <string>uni0637.fina</string>
      <key>tah-ar.init</key>
      <string>uni0637.init</string>
      <key>tah-ar.medi</key>
      <string>uni0637.medi</string>
      <key>tcheh-ar</key>
      <string>uni0686</string>
      <key>tcheh-ar.fina</key>
      <string>uni0686.fina</string>
      <key>tcheh-ar.init</key>
      <string>uni0686.init</string>
      <key>tcheh-ar.medi</key>
      <string>uni0686.medi</string>
      <key>teh-ar</key>
      <string>uni062A</string>
      <key>teh-ar.fina</key>
      <string>uni062A.fina</string>
      <key>teh-ar.init</key>
      <string>uni062A.init</string>
      <key>teh-ar.medi</key>
      <string>uni062A.medi</string>
      <key>tehMarbuta-ar</key>
      <string>uni0629</string>
      <key>tehMarbuta-ar.fina</key>
      <string>uni0629.fina</string>
      <key>thal-ar</key>
      <string>uni0630</string>
      <key>thal-ar.fina</key>
      <string>uni0630.fina</string>
      <key>theh-ar</key>
      <string>uni062B</string>
      <key>theh-ar.fina</key>
      <string>uni062B.fina</string>
      <key>theh-ar.init</key>
      <string>uni062B.init</string>
      <key>theh-ar.medi</key>
      <string>uni062B.medi</string>
      <key>thousandseparator-ar</key>
      <string>uni066C</string>
      <key>three-ar</key>
      <string>uni0663</string>
      <key>three-persian</key>
      <string>uni06F3</string>
      <key>threedotsdownabove-ar</key>
      <string>threedotsdownabovear</string>
      <key>threedotsdownbelow-ar</key>
      <string>threedotsdownbelowar</string>
      <key>threedotsupabove-ar</key>
      <string>threedotsupabovear</string>
      <key>threedotsupbelow-ar</key>
      <string>threedotsupbelowar</string>
      <key>two-ar</key>
      <string>uni0662</string>
      <key>two-persian</key>
      <string>uni06F2</string>
      <key>twodotshorizontalabove-ar</key>
      <string>twodotshorizontalabovear</string>
      <key>twodotshorizontalbelow-ar</key>
      <string>twodotshorizontalbelowar</string>
      <key>twodotsverticalabove-ar</key>
      <string>twodotsverticalabovear</string>
      <key>twodotsverticalbelow-ar</key>
      <string>twodotsverticalbelowar</string>
      <key>veh-ar</key>
      <string>uni06A4</string>
      <key>veh-ar.fina</key>
      <string>uni06A4.fina</string>
      <key>veh-ar.init</key>
      <string>uni06A4.init</string>
      <key>veh-ar.medi</key>
      <string>uni06A4.medi</string>
      <key>wasla-ar</key>
      <string>waslaar</string>
      <key>waw-ar</key>
      <string>uni0648</string>
      <key>waw-ar.001</key>
      <string>uni0648.001</string>
      <key>waw-ar.fina</key>
      <string>uni0648.fina</string>
      <key>wawHamzaabove-ar</key>
      <string>uni0624</string>
      <key>wawHamzaabove-ar.fina</key>
      <string>uni0624.fina</string>
      <key>yeh-ar</key>
      <string>uni064A</string>
      <key>yeh-ar.fina</key>
      <string>uni064A.fina</string>
      <key>yeh-ar.init</key>
      <string>uni064A.init</string>
      <key>yeh-ar.medi</key>
      <string>uni064A.medi</string>
      <key>yeh-farsi</key>
      <string>uni06CC</string>
      <key>yeh-farsi.fina</key>
      <string>uni06CC.fina</string>
      <key>yeh-farsi.init</key>
      <string>uni06CC.init</string>
      <key>yeh-farsi.medi</key>
      <string>uni06CC.medi</string>
      <key>yehHamzaabove-ar</key>
      <string>uni0626</string>
      <key>yehHamzaabove-ar.fina</key>
      <string>uni0626.fina</string>
      <key>yehHamzaabove-ar.init</key>
      <string>uni0626.init</string>
      <key>yehHamzaabove-ar.medi</key>
      <string>uni0626.medi</string>
      <key>yeh_alef-ar.liga</key>
      <string>uni064A0627.liga</string>
      <key>zah-ar</key>
      <string>uni0638</string>
      <key>zah-ar.fina</key>
      <string>uni0638.fina</string>
      <key>zah-ar.init</key>
      <string>uni0638.init</string>
      <key>zah-ar.medi</key>
      <string>uni0638.medi</string>
      <key>zain-ar</key>
      <string>uni0632</string>
      <key>zain-ar.fina</key>
      <string>uni0632.fina</string>
      <key>zero-ar</key>
      <string>uni0660</string>
      <key>zero-persian</key>
      <string>uni06F0</string>
    </dict>
  </dict>
</plist>
